/*
    flex-direction:;
    flex wrap
    flex flow
    justify-content
    align-items
    align-content
*/
/* Reseting browser css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    
}

.flex-item{
    color: white;
    text-align: center;
    height: 30vh;
    width: 20%;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}
/* 
    viewports
        Viewport-width : 0 vw  to 100 vw
        Viewport-height : 0 vh  to 100 vh
*/ 